.nameBox {
  display: flex;
}

.addReviewButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
    margin-left: 1rem;
}

.addReview {
  margin-top: 1rem;
  margin-bottom: 1rem
}
